* {
    margin: 0;

    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(148, 148, 148);
    color: black;
    padding: 1% 25px;
}

h1 {
    font-family: system-ui;
    text-align: center;
    margin-bottom: 20px;
}

.botones {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1%;
    align-content: center;
    /*justify-content: center;*/
    margin-top: 3%;
}

#ejercicio {
    background-color: rgb(219, 83, 83);
}
/*#ejercicio>div {*/
/*    display: flex;*/
/*}*/

body > div {
    /*margin: 1%;*/
    padding: 3%;
    border: 2px solid black;
    border-radius: 10px;
    transition: all 0.1s ease-in-out;
}

/*body>div:hover{*/
/*    transform: scale(1.03);*/
/*    box-shadow: 5px 5px 15px rgba(0,0,0,0.3);*/
/*    backdrop-filter: brightness(150%);*/
/*}*/


button {
    margin-top: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: black;
    color: white;
    cursor: pointer;
    height: 50px;
    width: auto;
}

button:hover {
    background-color: grey;
}

footer {
    text-align: center;
    margin-top: 2%;
    padding: 2%;
    /*border-top: 1px solid rgb(226, 226, 226);*/
    color: white;
    background-color: rgb(77, 77, 77);
    border-radius: 10px;
    border: 2px solid black;
    transition: all 0.1s ease-in-out;
}

footer:hover {
    background-color: rgb(66, 66, 66);
    transform: scale(1.02);
}
#tablero{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
table {
    margin: 0;
    padding: 0;
    /*width: 100%;*/
    /*height: auto;*/
    border: 4px solid black;
    background-color: rgb(0, 0, 0);
    /*border-collapse: collapse;*/
    /*table-layout: auto; !* celdas crecen según contenido *!*/
}


.casilla {
    border: 1px solid black;
    text-align: center;
    width: 75px;
    height: 75px;
    align-content: center;
    justify-content: center;
    background-color: rgb(255, 117, 117);
    padding: 0;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}
.casilla:hover {
    /*transform: scale(1.03);*/
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    backdrop-filter: brightness(150%);
    border: 4px solid black;
}
.descubierto-num{
    background-color: rgb(255, 218, 0);
}
.descubierto-vacio{
    background-color: rgb(34, 203, 82);
}
.bandera{
    background-color: rgb(255, 154, 52);
}
.mina{
    background-color: rgb(38, 38, 38);
}
.icono-bandera {
    width: 60px;
    height: 60px;
    margin: auto;
    background-color: #000000;/*el color con el que pintará la bandera*/
    /*usa la imagen como máscara*/
    -webkit-mask-image: url('./img/flag.png');
    mask-image: url('./img/flag.png');
    /*posición y tamaño y mierdas*/
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    /*mask-position: center;*/
}

.img_casilla{
    width: 60px;
    height: auto;
    padding: 0;
}
.txt_casilla {
    font-size: 65px;
    margin: 0;
    line-height: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}


#stats {
    font-size: 30px;
    margin-top: 3%;
    /* line-height: 1; */
    display: flex
;
    gap: 0.5rem;
    justify-content: space-evenly;
    /* flex-direction: column; */
    align-items: center;
    /* justify-self: flex-end; */
}